Filters
<div id="filters">
    
  <div id="adultBox">
    <input type="checkbox" id="adultFilter">
    <label for="adultFilter">include adult movies</label>
  </div>

  <select id="genreFilter">
    <option>All genres</option>
    {{#each genres as | genre |}}
    <option id="{{genre.genreName}}">
      {{ genre.genreName }}
    </option>
    {{/each}}
  </select>
  Filter by genre
  
</div> 
<a href="/titles">Clear filters</a>
<br>

<div class="pagination">
  {{ pagination page RowsPerPage totalRows params }}
</div>

<table>
  <tr id="columnHeaders">
    {{#each fields as | field |}}
    <th>
      {{!-- <a href="?page={{ @root.page }}&orderBy={{ field.name }}{{#if (equal field.name @root.orderBy)}}%20desc{{/if}}"> --}}
      <a href="#" id="{{ field.name }}">
        {{ field.name }}
        {{ orderByArrow field.name @root.params }}
      </a>
    </th>
    {{/each}}
  </tr>

  {{#each result as | tuple |}}
  <tr>
    {{#each tuple as | row |}}
    <td>
      {{ row }}
    </td>
    {{/each}}
  </tr>
  {{/each}}
</table>

<div class="pagination">
  {{ pagination page RowsPerPage totalRows params }}
</div>

<br>
{{ numResults page RowsPerPage totalRows }}

<script src="/js/ovFilters.js"></script>