Filters
<br>
<div id="filters">
    
  <div id="adultBox">
    <input type="checkbox" id="adultFilter">
    <label for="adultFilter">include adult movies</label>
  </div>

  <select id="genreFilter">
    <option>All genres</option>
    {{#each genres}}
    <option id="{{ genreName }}">
      {{ genreName }}
    </option>
    {{/each}}
  </select>
  Filter by genre

  <br>

  <select id="typeFilter">
    <option>All types</option>
    {{#each types as | type |}}
    <option id="{{ type }}">
      {{ type }}
    </option>
    {{/each}}
  </select>
  Filter by type
  
  <br>
  <br>
  <a href="#" id="filterReset">Reset filters</a>
</div>


<div id="titleDetails">
</div>

{{#if find }}
  <br>
  Search results for string "{{ find }}"
  <br>
{{/if}}

{{#if result}}
  {{ numResults page RowsPerPage totalRows }}
  
  <div class="pagination">
    {{ pagination page RowsPerPage totalRows params }}
  </div>
  

  <table id="data">
    <tr id="columnHeaders">
      {{#each fields }}
        <th id="{{name}}">
          {{!-- <a href="?page={{ @root.page }}&orderBy={{ field.name }}{{#if (equal field.name @root.orderBy)}}%20desc{{/if}}"> --}}
          <a href="#" id="{{ name }}">
            {{ name }}
            {{ orderByArrow name @root.params }}
          </a>
        </th>
      {{/each}}
    </tr>

    {{#each result as | row |}}
    <tr id="{{row.id}}">
      {{#each row as | col |}}
        <td id="{{@key}}">
          {{ col }}
        </td>
      {{/each}}
    </tr>
    {{/each}}
  </table>
    <div class="pagination">
    {{ pagination page RowsPerPage totalRows params }}
  </div>

  <br>
  {{ numResults page RowsPerPage totalRows }}
  
{{else}}
  <br>
  No results
{{/if}}

<script src="/js/ovFilters.js"></script>
<script src="/js/titleDetails.js"></script>